#nav {
  background: var(--color-gray1);
  margin: 1em 3em;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav::after {
  color: var(--color-secondary);
  font-size: clamp(1.2rem, 8vw, 1.6rem);
  font-weight: 500;
  user-select: none;
}

#nav li a {
  font-weight: 400;
  color: #b6b6b6;
  padding: 1em;
}

ul a {
  text-decoration: none;
  color: unset;
}

ul a:hover {
  color: #ffffff;
  background: var(--color-gray2);
  border-radius: 5px;
  transition: 0.2s;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

@media screen and (max-width: 968px) {
  #nav {
    margin: 1em;
  }

  #nav h2 {
    display: none;
  }

  #nav::after {
    content: "$ AYKUT";
    display: inline-block;
    position: absolute;
  }

  #nav {
    padding: 1.5em;
  }

  #nav ul {
    display: none;
  }
}
