#nav {
  background: var(--color-gray1);
  margin: 1em 3em;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav li a {
  font-weight: 400;
  color: #b6b6b6;
  padding: 1em;
}

ul a {
  text-decoration: none;
  color: unset;
}

ul a:hover {
  color: #ffffff;
  background: var(--color-gray2);
  border-radius: 5px;
  transition: 0.2s;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.menu, .closeMenu {
  display: none;
}

@media screen and (max-width: 968px) {
  #nav {
    margin: 1em;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
  }

  .menu {
    display: inline;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
  }

  #nav::before {
    content: "$ AYKUT";
    display: inline-block;
    color: var(--color-secondary);
    font-size: clamp(1.2rem, 8vw, 1.6rem);
    font-weight: 500;
    user-select: none;
  }

  #nav h2 {
    display: none;
  }

  #nav ul.hide {
    display: none;
  }

  #nav ul.show {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: var(--color-bg);
    animation: circleOpen 0.5s ease-in-out;
  }

  #nav .closeMenu {
    display: block;
    filter: invert();
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
    cursor: pointer;
  }

  @keyframes circleOpen {
    from { clip-path: circle(0.6% at 100% 0); }  
    to { clip-path: circle(141.6% at 100% 0); }
  }
}
