@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-primary: "Ubuntu", sans-serif;
  --color-primary: #e2e2e2;
  --color-secondary: rgb(32, 255, 144);
  --color-gray1: #2c2e3a;
  --color-gray2: #494c58;
  --color-gray3: #2a2b30;
}

body {
  font-family: var(--font-primary);
  background-color: #181a22;
  color: #fff;
  min-height: 200vh;
  width: 100%;
  font-weight: 300;
  overflow-x: hidden;
}

.wave {
  width: 1200px;
  height: 1250px;
  position: fixed;
  top: 0%;
  left: 0%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 30%;
  background: #1c1c29bf;
  animation: wave 15s infinite linear;
  z-index: -1;
}

section {
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
}

nav {
  background: var(--color-gray1);
  margin: 1em 3em;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul a {
  text-decoration: none;
  color: unset;
}

ul a:hover {
  color: #ffffff;
  background: var(--color-gray2);
  border-radius: 5px;
  transition: 0.2s;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

nav li a {
  font-weight: 400;
  color: #b6b6b6;
  padding: 1em;
}

h1,
h2,
nav::after {
  color: var(--color-secondary);
  font-size: clamp(1.2rem, 8vw, 1.6rem);
  font-weight: 500;
  user-select: none;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 968px) {
  nav {
    margin: 1em;
  }

  nav h2 {
    display: none;
  }

  nav::after {
    content: '$ AYKUT';
    display: inline-block;
    position: absolute;
  }

  nav {
    padding: 1.5em;
  }

  nav ul {
    display: none;
  }
}