@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-primary: "Ubuntu", sans-serif;
  --color-primary: #e2e2e2;
  --color-secondary: rgb(32, 255, 144);
  --color-gray1: #2c2e3a;
  --color-gray2: #494c58;
  --color-gray3: #2a2b30;
}

body {
  font-family: var(--font-primary);
  background-color: #181a22;
  color: #fff;
  min-height: 200vh;
  width: 100%;
  font-weight: 300;
  overflow-x: hidden;
}

.wave {
  width: 1200px;
  height: 1250px;
  position: fixed;
  top: 0%;
  left: 0%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 30%;
  background: #1c1c29bf;
  animation: wave 15s infinite linear;
  z-index: -1;
}

section {
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
}

h1,
h2 {
  color: var(--color-secondary);
  font-size: clamp(1.2rem, 8vw, 1.6rem);
  font-weight: 500;
  user-select: none;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
